@charset "UTF - 8";

body{
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(55, 180, 252);
}

header{
    font-size: 1.5em;
    text-align: center;
    margin: 20px;
    color: white;
}

main{
    width: 350px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    background-color: white;
}

