@charset "UTF - 8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 1920px;
    min-width: 320px;
    height: 100vh;
    background-color: rgb(196, 255, 250);
    background-image: url(img/tela\ de\ login.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right center;
}

header{
    text-align: center;
    margin: 50px; padding: 10px;
    font-size: 2em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.377);
    color: white;
}

main{
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.349);
    background-color: rgba(255, 255, 255, 0.185);
}

input{
    margin: 5px 0px 20px 20px; padding: 5px;
    border: solid 1px rgb(211, 241, 255);
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0);
}

#nome{
    margin-top: 20px;
}

#btn{
        width: 50px;
        text-align: center;
        background-color: rgba(245, 245, 245, 0);
        cursor: pointer;
        color: rgb(122, 122, 122);
}
#btn:hover{
    background-color: rgba(255, 255, 255, 0.432);
}

#res{
    margin: 0px 20px;
    padding: 5px;
    color: white;
}
